/* common */
td {
    padding: 0;
}
img {
    border: 0;
}
body, div, span, h1 {
    padding: 0px;
    margin: 0px;
}
body {
    background: #444;
}

/* global */
#global-whole {
    background: #fff;
    width: 80%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
}

#global-header {
    padding-top: 30px;
    border-bottom: solid 1px;
}
#global-content {
//    padding-top: 10px;
    border-bottom: solid 1px;
}
#global-footer {
    padding-top: 10px;
}
#global-header .greeting {
    float: right;
}

.hidden-key {
    display: none;
}

/* index */
#index .bookshelf {
    padding: 2px 30px;
    background: #811;
}
#index .books {
    padding: 0px;
    margin: 0px;
}
#index .books li {
    display: inline-block;
}
#index .book, #index .newbook{
    float: left;
    display: inline-block;
    width: 30px;
    height: 110px;
}
#index .newbook{
    width: 60px;
}
#index .book .label, #index .newbook .trigger {
    display: inline-block;
    width: 30px;
    height: 110px;
    overflow: hidden;
    background: #fff;
}
#index .newbook .trigger {
    width: 60px;
}
#index .book .about {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px 10px;
    display: none;
}
#index div.book:hover .about {
    float: none;
    clear: none;
    display: inline-block;
    position: relative;
    top: 0px;
    left: 30px;
    width: 180px;
    z-index: 10;
    border: solid 1px;
    background: #fff;
}
#index .book .about .info {
    font-size: 11px;
    margin-top: 4px;
}
#index .book .about .jacket {
    margin: 0 auto;
}
#index . {
    width: 30px;
    height: 110px;
}
#index .newbook .trigger {
    display: inline-block;
    cursor: pointer;
}
#index .newbook .trigger .plus{
    position: relative;
    top: 45px;
    left: 2px;
    font-size: 30px;
    color: #000;
    font-family: sans-serif;
}
#index .newbook .form {
    display: inline-block;
    width: 240px;
    height: 110px;
    background: #fff;
}
#index .activities ul {
    list-style-type: none;
}
#index .activities li {
    margin: 2px 0;
    padding-left: 10px;
    font-size: small;
    border-left: 5px solid #811;
}

