<div class="comment">
  <span class="header">
    <span class="username{% if comment.is_owner %} owner{% endif %}">{% if comment.author %}{{ comment.author|escape}}{% else %}anonymous{% endif %}</span>
    <span class="timestamp">
      {{ comment.created_at|escape}}
    </span>
    <a class="hidden-key" href={{ comment.path }}>
    </a>

  </span>
  <pre>
    {% for line in comment.each_line_body %}
    {{ line|escape}}
    {% endfor %}
  </pre>
  {% if user %}
  {% ifequal user comment.author %}
  <span>
    <form action="{{ comment.path }}" method="POST" class="delete-comment">
      <input type="submit" value="delete">
    </form>
  </span>
  {% endifequal %}
  {% endif %}
</div>
