<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{{ book.title|escape}} - Bunco</title>
    <link rel="stylesheet" href="/css/application.css" />
    <script type="text/javascript" src="/js/jquery.js" ></script>
    <script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
    <script type="text/javascript" src="/js/bookpage.js" ></script>
  </head>
  <body id="book">
    <div id="global-whole">
      <div id="global-header">
        <p class="greeting">{{greeting}}</p>
        <h1>Bunco</h1>
      </div>
      <div id="global-content">
        <h2>{{ book.title|escape}}</h2>
        <table>
          <tr>
            <td><img src="{{ book.large_image_with_shadow_path }}" /></td>
            <td>
              <table class="book_info">
                <tr>
                  <th>ISBN</th>
                  <td>{{ book.isbn|escape}}</td>
                </tr>
                <tr>
                  <th>著者</th>
                  <td>{{ book.author|escape}}</td>
                </tr>
                <tr>
                  <th>出版社</th>
                  <td>{{ book.publisher|escape}}</td>
                </tr>
                <tr>
                  <th>発売日</th>
                  <td>{{ book.published_at|escape}}</td>
                </tr>
                <tr>
                  <th>提供者</th>
                  <td>
                    <table>
                      {% for stock in book.stocks %}
                      <tr><td>{{stock.owner}}</td></tr>
                      {% endfor %}
                    </table>
                  </td>
                </tr>
                <tr>
                  <th>在庫</th>
                  {% ifequal 0 book.occupied_stocks.count %}
                  <td>{{ book.available_stocks.count }}</td>
                  {% else %}
                  <td>
                    {{ book.available_stocks.count }}/{{ book.stocks.count }}
                    (
                    {% for stock in book.occupied_stocks %}
                    {% if forloop.last %}
                    {{ stock.holder }}
                    {% else %}
                    {{ stock.holder }},
                    {% endif %}
                    {% endfor %}
                    )
                  </td>
                  {% endifequal %}
                </tr>
              </table>
              <p><a href="{{ book.amazon_path }}">Amazonで詳細を見る</a></p>
            </td>
          </tr>
        </table>
        {% if book.is_owner %}
        <h3>提供者コメント</h3>
        {% for stock in book.stocks %}
        {% if stock.description %}
        <span>{{ stock.owner}}</span>
        <span>{{ stock.description|linebreaks}}</span>
        {% endif %}
        {% endfor %}
        <h3>提供者コメント追加</h3>
        <form action="{{ book.path|escape}}" method="PUT" id="owner-comment">
          <textarea name="description" rows="5" cols="30"></textarea>
          <input type="submit" value="Post" class="submit"/>
        </form>
        {% endif %}
        {% if user %}
        <h3>貸し借り</h3>
        <form action="{{ book.path|escape}}" method="POST" id="lent-book">
          <input type="submit" value="{% if book.is_holder %}返す{% else %}借りる{% endif %}" />
        </form>
        {% endif %}
        <h3>Comment</h3>
        <ul class="comments">
          {% for comment in book.comments %}
          <li>
            {% include "../comment/index.html" %}
          </li>
          {% endfor %}
        </ul>

        <form action="/comment" method="POST" class="post-comment">
          <textarea name="body" rows="5" cols="30"></textarea>
          <input type="hidden" name="book" value="{{book.isbn|escape}}" />
          <input type="submit" value="Post" class="submit"/>
        </form>

        {% if user %}
        <h3>Delete</h3>
        <form action="{{ book.path|escape}}" method="POST" id="delete-book">
          <input type="submit" value="delete this book" />
        </form>
        {% endif %}
      </div>
      <div id="global-footer">
        <a href="/" >Index</a>
      </div>
    </div>
  </body>
</html>
