<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Bunco</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/css/application.css" />
    <script type="text/javascript" src="/js/jquery.js" ></script>
    <script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
    <script type="text/javascript" src="/js/index.js" ></script>

  </head>
  <body id="index">
    <div id="global-whole">
      <div id="global-header">
        <p class="greeting">{{greeting}}</p>
        <h1>Bunco</h1>
      </div>
      <div id="global-content">
        <div class="bookshelf">
          <ul class="books">
            {% for book in books %}
            <li>
              <div class="book">
                <div class="label">
                  <a href="{{ book.path }}"><img class="jacket" src="{{ book.image_path }}" name="{{ book.title}}"/></a>
                </div>
                <div class="about">
                  <div class="info title">{{ book.title }} </div>
                  <div class="info">{{ book.author }}</div>
                  <div class="info">{{ book.published_at }}</div>
                  <div class="jacket"><img src="{{ book.image_path }}" name="{{ book.title}}" /></div>
                </div>
              </div>
            </li>
            {% endfor %}
            {% if user %}
            <li>
              <div class="newbook">
                <div class="trigger">
                  <span class="plus">
                    add
                  </span>
                </div>
                <div class="form" style="display: none">
                  <form action="/book" method="POST">
                    <label for="isbn">ISBN or Amazon URL:</label>
                    <input type="text" name="isbn" id="isbn">
                    <input type="submit" value="add">
                  </form>
                  <p>or use <a href="javascript:location.href='http://hacobunko.appspot.com/book/add?isbn='+location.href;">Bunco!</a> bookmarklet.</p>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id='activity'>
          <ul>
            {% for activity in activities %}
            <li>{% if activity.user %}<a href="/user/{{ activity.user.nickname }}">{{ activity.user.nickname|escape}}</a>{% else %}匿名{% endif %}さんが<a href="{{activity.book.path}}">{{activity.book.title}}</a>{{activity.action}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="global-footer" style="display:none">
        <a href="/" >Bunco</a>
      </div>
    </div>
  </body>
</html>

