<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Bunco</title>
    <link rel="stylesheet" href="/public/stylesheet/application.css" />
  </head>
  <body>
    <h1>Bunco</h1>
    <table>
      {% for book in books %}
      <tr>
        <td>
          <a href="{{ book.amazon_path }}"><img src="{{ book.image_path }}" /></a>
        </td>
        <td>
          <table>
            <tr><td><a href="{{ book.path }}">{{ book.title }}</a><td></tr>
            <tr><td>{{ book.author }}</td></tr>
            <tr><td>{{ book.publisher }}</td></tr>
            <tr><td>{{ book.published_at }}</td></tr>
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>

    <h1>Post</h1>
    <form action="/book" method="POST">
      <table>
        <tr><td>isbn </td><td><input type="text" name="isbn"></td></tr>
      </table>
      <!-- <p>published_at <input type="text" name="published_at"></p> -->
      <p><input type="submit" value="Create"></p>
    </form>
  </body>
</html>

